<script type="text/javascript">
  var START = "<%= j @start %>";
  var END = "<%= j @end %>";
  var WAYPOINTS = "<%= j @waypoints %>";
</script>

<div id="map_canvas"></div>

<div id='attractions_panel'>
  <ul id='attraction-list'>
  </ul>
</div>
