<div class="home_container">
  <h1>Where can your interests take you?</h1>

  <div class="get_route">
    <%= form_for :maps, :url => {action: 'directions', controller: 'maps'}, method: 'GET', id:"calculate-route" do |f| %>
    <%=f.text_field :origin, :required => true, :placeholder => "Origin" %>
    <%=f.text_field :destination, :required => true, :placeholder => "Final Destination" %>
    <%=f.submit "Submit", :onclick => "calcRoute();" %>
    <% end %>
  </div>
</div>