<div class="small-12 large-5 columns interests">
  <h3> Your Saved Trips:</h3>
  <% current_user.trips.each do |trip| %>
    <p><a href=""><%= trip.origin %> --> <%= trip.destination %></a></p>
    <p><%= trip.updated_at %></p>
  <% end %>
</div>

<!-- need to add in specific link for that itinerary - pull it back to maps show page with the specific route -->
