<div class="small-12 large-5 columns interests">
  <h3> Your Saved Trips</h3>
  <% current_user.trips.each do |trip| %>
    <span class="trip"><a href=""><%= trip.origin %> –> <%= trip.destination %></a>  <span class="tripdate"><%= trip.updated_at.to_s.slice(0..9) %></span></span>
  <% end %>
</div>
