@import "constants";

#map_canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.counter {
  margin-left: 2%;
}

#attractions_panel {
  text-align: left;
  margin-top: -.60%;
}

#attractions_panel h3 {
  padding: 3%;
  background-color: $dark-green;
  color: white;
  margin-bottom: 5%;
  margin-left: -3.5%;
  width: 107%;
}

#attraction-list {
  margin-top: -5%;
  list-style: none;
  margin-left: -3%;
  font-size: 1.25vw;
}

#attraction-list li {
  background: white;
  display: flex;
  align-items: center;
}

#attraction-list li:nth-child(odd) {
  background: #e2e7df;
}

.add-button {
  font-size: 1.25vw;
  color: $primary-color;
}

.add-button .fa-plus{
  color: $primary-color;
}

.add-button:hover {
  color: darken($primary-color, 10);
  cursor: pointer;
}

.remove-button {
  color: $light-gray;
  margin-top: -5%;
  margin-left: 18%;
  font-size: 1.5vw;
}

.remove-button:hover {
  cursor: pointer;
  color: darken($light-gray, 10)
}



@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #attraction-list li{
    list-style: none;
    padding: 2%;
    font-size: 3vw;
  }

  .add-button {
    width: 20%;
    height: 2%;
    font-size: 2vw;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
  }

  #attractions_panel h3 {
    padding: 3%;
    font-size: 6vw;
  }

  .fa {
    font-size: 2vw;
  }

}

@media only screen and (max-width: 40em) {

  #attraction-list li{
    list-style: none;
    padding: 2%;
    font-size: 4vw;
  }

  .add-button {
    width: 30%;
    height: 2%;
    font-size: 3vw;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
  }

  #attractions_panel h3 {
    padding: 3%;
    font-size: 6vw;
  }

}