@import "constants";

#map_canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

#attractions_panel {
  height: 100%;
  text-align: left;
  overflow-y: scroll;
}

#attractions_panel h3 {
  padding: 3%;
  background-color: $dark-green;
  color: white;
  margin-bottom: 5%;
  margin-left: -3.5%;
  margin-top: -.60%;
  width: 107%;
}

#attraction-list {
  list-style: none;
  font-size: 1.25vw;
  margin-top: -5%;
  width: 115%;
  margin-right: -8%;
}

#attraction-list li {
  background: white;
  padding-top: 2%;
  padding-left: 3%;
  display: flex;
  align-items: center;
}

#attraction-list li:nth-child(odd) {
  background: $alternating;
}

#attraction-list li.active {
  background-color: darken($alternating, 15);
}

#attraction-list li.saved {
  background-color: #51b6c8;
  color: white;
}

.attr_name p {
  font-size: .85vw;
}

.add-button {
  font-size: 1.25vw;
  color: $primary-color;
}

.add-button .fa-plus {
  color: $primary-color;
}

.add-button:hover {
  color: darken($primary-color, 10);
  cursor: pointer;
}

.remove-button {
  color: $light-gray;
  margin-left: 15%;
  font-size: 1.5vw;
}

.remove-button:hover {
  cursor: pointer;
  color: darken($light-gray, 10)
}

@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  #attraction-list li{
    list-style: none;
    padding: 2%;
    font-size: 3vw;
  }

  #attractions_panel h3 {
    padding: 3%;
    font-size: 6vw;
  }

  .add-button .fa-plus{
    font-size: 4vw;
  }

  .remove-button {
    color: $light-gray;
    margin-top: -5%;
    margin-left: 18%;
    font-size: 1.5vw;
  }

}

@media only screen and (max-width: 40em) {

  #map_canvas {
    height: 50%;
  }

  #attraction-list li{
    list-style: none;
    padding: 2%;
    font-size: 4vw;
    width: 110%;
    margin-left: -5%;
  }

  .add-button {
    font-size: 4vw;
    margin-right: -10%;
  }

  #attractions_panel h3 {
    text-align: center;
    font-size: 6vw;
    width: 110%;
    margin-left: -5%;
  }

  .add-button .fa-plus {
    font-size: 4.5vw;
  }

  .remove-button {
    font-size: 5vw;
    padding-left: 10%;
  }

  .attr_name p {
    font-size: 3.5vw;
  }

}