<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="brand"><i class="fa fa-random white"></i><%= link_to ' ReTour', root_path %></li>
    <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
  </ul>
  <div class="top-bar-section small-6 columns">
    <ul class="right">
      <%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</nav>
